& {
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  -ms-animation: blink 1s linear infinite;
  -o-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}

// Webkit
@-webkit-keyframes blink {
  0% { opacity: 0; }
  40% { opacity: 0; }
  41% { opacity: 1; }
  99% { opacity: 1; }
  100% { opacity: 0; }
}

// Firefox
@-moz-keyframes blink {
  0% { opacity: 0; }
  40% { opacity: 0; }
  41% { opacity: 1; }
  99% { opacity: 1; }
  100% { opacity: 0; }
}

// IE9
@-ms-keyframes blink {
  0% { opacity: 0; }
  40% { opacity: 0; }
  41% { opacity: 1; }
  99% { opacity: 1; }
  100% { opacity: 0; }
}

// Opera
@-o-keyframes blink {
  0% { opacity: 0; }
  40% { opacity: 0; }
  41% { opacity: 1; }
  99% { opacity: 1; }
  100% { opacity: 0; }
}

// Spec
@keyframes blink {
  0% { opacity: 0; }
  40% { opacity: 0; }
  41% { opacity: 1; }
  99% { opacity: 1; }
  100% { opacity: 0; }
}
