& {
  background: #000 url(../ember-geo/bg-rainbow.gif) top left;
  padding: 0.25rem 0.75rem;
  color: white;
  border: 6px ridge #bbb;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: inherit;
}
