{{#geo-nav background="stars" color="orange" as |nav|}}
  {{#nav.item}}Brand{{/nav.item}}
  {{#nav.item}}Item{{/nav.item}}
  {{#nav.item}}Item{{/nav.item}}
  {{#nav.item}}Item{{/nav.item}}
{{/geo-nav}}

{{#geo-button}}This is a button{{/geo-button}}

{{#geo-marquee}}This is scrolling omg wow{{/geo-marquee}}

{{#geo-blink}}
  this is blinking omg wow
{{/geo-blink}}

{{#geo-card background="fireworks" textColor="orange" as |card|}}
  {{#card.title}}Here is a card title{{/card.title}}
  {{#card.content}}
    {{#geo-blink}}
      <p>alsd fjlas djflasjd flkasjd flkaj sdlkfj alskd jflkasd jflk asjdlk fjaslkd jflkas djlkf asjdklf</p>
      <p>alsd fjlas djflasjd flkasjd flkaj sdlkfj alskd jflkasd jflk asjdlk fjaslkd jflkas djlkf asjdklf</p>
      <p>alsd fjlas djflasjd flkasjd flkaj sdlkfj alskd jflkasd jflk asjdlk fjaslkd jflkas djlkf asjdklf</p>
    {{/geo-blink}}
    {{#geo-button}}CLICK ME!{{/geo-button}}
  {{/card.content}}
{{/geo-card}}


{{outlet}}
